---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-xml
      - id: end-of-file-fixer
        exclude: dist/index.js,updatecli/install/.default-updatecli-version
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: dist/index.js
  - repo: https://github.com/reakaleek/gh-action-readme
    rev: v0.4.0
    hooks:
      - id: action-readme
        verbose: true
        args:
          - --env=VERSION=v1
