---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-xml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/reakaleek/gh-action-readme
    rev: v0.3.0
    hooks:
      - id: action-readme
        verbose: true
        args:
          - --env=VERSION=v1
