name: no-test

on:
  merge_group: ~
  workflow_dispatch: ~
  pull_request:
    branches:
      - main
    paths:
      - '**'
      - '!.github/workflows/test-*'
      - '!aws/auth/**'
      - '!azure/auth/**'
      - '!buildkite/run/**'
      - '!check-dependent-jobs/**'
      - '!download-kibana-dashboard/**'
      - '!elastic/github-commands/**'
      - '!elastic/validate-catalog/**'
      - '!feature-freeze/**'
      - '!git/setup/**'
      - '!github/backport-active/**'
      - '!github/changed-files/**'
      - '!github/project-add/**'
      - '!github/project-field-set/**'
      - '!github/user-type/**'
      - '!google/auth/**'
      - '!oblt-cli/cluster-name-validation/**'
      - '!oblt-cli/list/**'
      - '!oblt-cli/run/**'
      - '!pagerduty/alert/**'
      - '!pre-commit/**'
      - '!updatecli/run/**'

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - run: echo "No test to run"
