name: no-test

on:
  merge_group: ~
  workflow_dispatch: ~
  pull_request:
    branches:
      - main
    paths:
      - '**'
      - '!.github/workflows/test-*'
      - '!aws/auth/**'
      - '!buildkite/run/**'
      - '!check-dependent-jobs/**'
      - '!git/setup/**'
      - '!github/project-add/**'
      - '!github/project-field-set/**'
      - '!google/auth/**'
      - '!updatecli/run/**'
      - '!oblt-cli/cluster-name-validation/**'
      - '!oblt-cli/run/**'

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - run: echo "No test to run"
