name: pre-commit

on:
  pull_request:
  push:
    branches: [main]

permissions:
  contents: read

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install gh-action-readme
        run: gh extension install reakaleek/gh-action-readme --pin v0.2.0
        env:
          GH_TOKEN: ${{ github.token }}
      - uses: actions/setup-python@v5
      - uses: pre-commit/action@v3.0.1
        env:
          VERSION: v1 # needed for the action-readme hook
