name: test-mergify-labels-copier
on:
  merge_group: ~
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/test-mergify-labels-copier.yml'
      - 'mergify/labels-copier/**'
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/test-mergify-labels-copier.yml'
      - 'mergify/labels-copier/**'
permissions:
  contents: read
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Get token
        id: get_token
        uses: elastic/oblt-actions/github/create-token@v1
        with:
          token-policy: token-policy-oblt-actions-test-mergify-labels-copier
      - uses: ./mergify/labels-copier
        id: validation
        with:
          github-token: ${{ steps.get_token.outputs.token }}
          repository: "elastic/apm-server"
          pull-request: "15035"
          excluded-labels-regex: "^backport-*"
        env:
          DRY_RUN: true
      - name: assert labels are not empty
        run: test -n "${{ steps.validation.outputs.labels }}"
