name: test-oblt-cli-cluster-create-ccs
on:
  merge_group: ~
  workflow_dispatch:
    inputs:
      dry-run:
        description: 'Dry run'
        required: true
        default: false
        type: boolean
  push:
    branches:
      - main
    paths:
      - '.github/workflows/test-oblt-cli-cluster-create-ccs.yml'
      - 'oblt-cli/cluster-create-ccs/**'
permissions:
  contents: read
jobs:
  test:
    if: always()
    needs:
      - dry-run
    runs-on: ubuntu-slim
    steps:
      - id: check
        uses: elastic/oblt-actions/check-dependent-jobs@v1
        with:
          jobs: ${{ toJSON(needs) }}
      - run: ${{ steps.check.outputs.is-success }}
  dry-run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: elastic/oblt-actions/git/setup@v1
      - name: Get token
        id: get_token
        uses: elastic/oblt-actions/github/create-token@v1
        with:
          token-policy: token-policy-oblt-actions-test-oblt-cli-cluster-create-ccs
      - uses: ./oblt-cli/cluster-create-ccs
        id: create
        with:
          github-token: ${{ steps.get_token.outputs.token }}
          remote-cluster: 'release-oblt'
          cluster-name-prefix: 'testgithubaction'
          gitops: true
          dry-run: ${{ github.event.inputs.dry-run != '' && github.event.inputs.dry-run || true }}
      - name: Assert is not empty
        run: test -n "${{steps.create.outputs.cluster-name}}"
