name: test-github-is-member-of
on:
  merge_group: ~
  workflow_dispatch:
    inputs:
      dry-run:
        description: 'Dry run'
        required: true
        default: false
        type: boolean
  push:
    branches:
      - main
    paths:
      - '.github/workflows/test-github-is-member-of.yml'
      - 'github/is-member-of/**'
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/test-github-is-member-of.yml'
      - 'github/is-member-of/**'
permissions:
  contents: read
jobs:
  test:
    if: always()
    needs:
      - is-member
      - is-not-member
      - bot-is-not-member
    runs-on: ubuntu-slim
    steps:
      - id: check
        uses: elastic/oblt-actions/check-dependent-jobs@v1
        with:
          jobs: ${{ toJSON(needs) }}
      - run: ${{ steps.check.outputs.is-success }}
  is-member:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: elastic/oblt-actions/git/setup@v1
      - name: Get token
        id: get_token
        uses: elastic/oblt-actions/github/create-token@v1
        with:
          token-policy: token-policy-oblt-actions-test-github-is-member-of
      - uses: ./github/is-member-of
        id: validation
        with:
          github-token: ${{ steps.get_token.outputs.token }}
          github-user: "v1v"
          github-org: "elastic"
      - name: Assert is member
        run: test "${{steps.validation.outputs.result}}" = "true"
  is-not-member:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: elastic/oblt-actions/git/setup@v1
      - name: Get token
        id: get_token
        uses: elastic/oblt-actions/github/create-token@v1
        with:
          token-policy: token-policy-oblt-actions-test-github-is-member-of
      - uses: ./github/is-member-of
        id: validation
        with:
          github-token: ${{ steps.get_token.outputs.token }}
          github-user: "v1v"
          github-org: "github"
      - name: Assert is not member
        run: test "${{steps.validation.outputs.result}}" = "false"
  bot-is-not-member:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: elastic/oblt-actions/git/setup@v1
      - name: Get token
        id: get_token
        uses: elastic/oblt-actions/github/create-token@v1
        with:
          token-policy: token-policy-oblt-actions-test-github-is-member-of
      - uses: ./github/is-member-of
        id: validation
        with:
          github-token: ${{ steps.get_token.outputs.token }}
          github-user: "dependabot[bot]"
          github-org: "github"
      - name: Assert bot should not be a member
        run: test "${{steps.validation.outputs.result}}" = "false"
