name: test-oblt-cli-setup

on:
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/test-oblt-cli-setup.yml'
      - 'oblt-cli/setup/**'
  push:
    branches:
      - main
    paths:
      - '.github/workflows/test-oblt-cli-setup.yml'
      - 'oblt-cli/setup/**'

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./oblt-cli/setup
      - run: oblt-cli version
