name: test-oblt-cli-cluster-credentials
on:
  merge_group: ~
  workflow_dispatch: ~
  push:
    branches:
      - main
    paths:
      - '.github/workflows/test-oblt-cli-cluster-credentials.yml'
      - 'oblt-cli/cluster-credentials/**'
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/test-oblt-cli-cluster-credentials.yml'
      - 'oblt-cli/cluster-credentials/**'
permissions:
  contents: read
  id-token: write
jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: elastic/oblt-actions/google/auth@v1
      - name: Get token
        id: get_token
        uses: elastic/oblt-actions/github/create-token@v1
        with:
          token-policy: token-policy-oblt-actions-test-oblt-cli-cluster-credentials
      - uses: ./oblt-cli/cluster-credentials
        with:
          github-token: ${{ steps.get_token.outputs.token }}
          cluster-name: 'dev-oblt'
      - run: curl -X GET "${ELASTICSEARCH_HOST}/_cat/indices?v" -u "${ELASTICSEARCH_USERNAME}:${ELASTICSEARCH_PASSWORD}"
