name: test-oblt-cli-cluster-name-validation

on:
  merge_group: ~
  workflow_dispatch: ~
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/test-oblt-cli-cluster-name-validation.yml'
      - 'oblt-cli/cluster-name-validation/**'
  push:
    branches:
      - main
    paths:
      - '.github/workflows/test-oblt-cli-cluster-name-validation.yml'
      - 'oblt-cli/cluster-name-validation/**'

permissions:
  contents: read

jobs:
  test:
    if: always()
    needs:
      - cluster-name
      - cluster-info-file
      - failures
    runs-on: ubuntu-slim
    steps:
      - id: check
        uses: elastic/oblt-actions/check-dependent-jobs@v1
        with:
          jobs: ${{ toJSON(needs) }}
      - run: ${{ steps.check.outputs.is-success }}

  cluster-name:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./oblt-cli/cluster-name-validation
        id: validation
        with:
          cluster-name: 'foo'
      - name: Assert is foo
        run: test "${{steps.validation.outputs.cluster-name}}" = "foo"

  failures:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: ./.github/actions/oblt-cli-cluster-name-validation
        id: validation
        continue-on-error: true
        with:
          cluster-name: ''

      - name: Assert is failure
        run: test "${{steps.validation.outcome}}" = "failure"

      - uses: ./.github/actions/oblt-cli-cluster-name-validation
        id: validation1
        continue-on-error: true
        with:
          cluster-info-file: ''

      - name: Assert is failure
        run: test "${{steps.validation1.outcome}}" = "failure"

      - uses: ./.github/actions/oblt-cli-cluster-name-validation
        id: validation2
        continue-on-error: true
        with:
          cluster-info-file: ''
          cluster-name: ''

      - name: Assert is failure
        run: test "${{steps.validation2.outcome}}" = "failure"

      - run: echo "{\"ClusterName\":\"bar\"}" | tee ${{ github.workspace }}/cluster-info.json

      - uses: ./.github/actions/oblt-cli-cluster-name-validation
        id: validation3
        continue-on-error: true
        with:
          cluster-info-file: ${{ github.workspace }}/cluster-info.json
          cluster-name: 'foo'

      - name: Assert is failure
        run: test "${{steps.validation3.outcome}}" = "failure"

  cluster-info-file:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: echo "{\"ClusterName\":\"bar\"}" | tee ${{ github.workspace }}/cluster-info.json
      - uses: ./oblt-cli/cluster-name-validation
        id: validation
        with:
          cluster-info-file: ${{ github.workspace }}/cluster-info.json
      - name: Assert is bar
        run: test "${{steps.validation.outputs.cluster-name}}" = "bar"
