name: test-oblt-cli-cluster-create-serverless

on:
  merge_group: ~
  workflow_dispatch:
    inputs:
      dry-run:
        description: 'Dry run'
        required: true
        default: false
        type: boolean
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/test-oblt-cli-cluster-create-serverless.yml'
      - 'oblt-cli/cluster-create-serverless/**'

permissions:
  contents: read

jobs:
  test:
    if: always()
    needs:
      - dry-run
    runs-on: ubuntu-slim
    steps:
      - id: check
        uses: elastic/oblt-actions/check-dependent-jobs@v1
        with:
          jobs: ${{ toJSON(needs) }}
      - run: ${{ steps.check.outputs.is-success }}

  dry-run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: elastic/oblt-actions/git/setup@v1
      - name: Get token
        id: get_token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.OBS_AUTOMATION_APP_ID }}
          private-key: ${{ secrets.OBS_AUTOMATION_APP_PEM }}
          permission-contents: write
          repositories: |
            observability-test-environments
      - uses: ./oblt-cli/cluster-create-serverless
        with:
          github-token: ${{ steps.get_token.outputs.token }}
          target: 'qa'
          dry-run: ${{ github.event.inputs.dry-run != '' && github.event.inputs.dry-run || true }}
          cluster-name-prefix: 'foo'
