name: test-oblt-cli-list

on:
  merge_group: ~
  workflow_dispatch: ~
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/test-oblt-cli-list.yml'
      - 'oblt-cli/list/**'
  push:
    branches:
      - main
    paths:
      - '.github/workflows/test-oblt-cli-list.yml'
      - 'oblt-cli/list/**'

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Get token
        id: get_token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.OBS_AUTOMATION_APP_ID }}
          private-key: ${{ secrets.OBS_AUTOMATION_APP_PEM }}
          permission-contents: read
          repositories: |
            observability-test-environments
      - uses: ./oblt-cli/list
        with:
          github-token: ${{ steps.get_token.outputs.token }}
