name: test-github-project-field-set

on:
  merge_group: ~
  workflow_dispatch: ~
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/test-github-project-field-set.yml'
      - 'github/project-field-set/**'
  push:
    branches:
      - main
    paths:
      - '.github/workflows/test-github-project-field-set.yml'
      - 'github/project-field-set/**'

permissions:
  contents: read

jobs:
  test:
    needs:
      - default
    runs-on: ubuntu-slim
    steps:
      - id: check
        uses: elastic/oblt-actions/check-dependent-jobs@v1
        with:
          jobs: ${{ toJSON(needs) }}
      - run: ${{ steps.check.outputs.is-success }}

  default:
    runs-on: ubuntu-latest
    if: github.event_name != 'pull_request' || github.event_name == 'pull_request' && github.event.pull_request.head.repo.fork == false
    steps:
      - uses: actions/checkout@v6

      - name: Get token
        id: get_token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.OBS_AUTOMATION_APP_ID }}
          private-key: ${{ secrets.OBS_AUTOMATION_APP_PEM }}
          permission-organization-projects: write
          permission-issues: read

      - uses: ./github/project-add
        id: project-add
        with:
          github-token: ${{ steps.get_token.outputs.token }}
          project-id: 1888
          item-url: "https://github.com/elastic/oblt-actions/pull/260"

      - name: set priority
        uses: ./github/project-field-set
        with:
          github-token: ${{ steps.get_token.outputs.token }}
          item-id: ${{ steps.project-add.outputs.item-id }}
          project-id: 1888
          field-name: "Priority"
          field-value: "P1"

      - name: set next iteration
        uses: ./github/project-field-set
        with:
          github-token: ${{ steps.get_token.outputs.token }}
          item-id: ${{ steps.project-add.outputs.item-id }}
          project-id: 1888
          field-type: 'iteration'
          field-name: "Iteration"
          field-value: "Iteration 2"

      - name: set previous iteration
        uses: ./github/project-field-set
        with:
          github-token: ${{ steps.get_token.outputs.token }}
          item-id: ${{ steps.project-add.outputs.item-id }}
          project-id: 1888
          field-type: 'iteration'
          field-name: "Iteration"
          field-value: "Iteration 1"
