name: test-github-project-add

on:
  merge_group: ~
  workflow_dispatch: ~
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/test-github-project-add.yml'
      - 'github/project-add/**'
  push:
    branches:
      - main
    paths:
      - '.github/workflows/test-github-project-add.yml'
      - 'github/project-add/**'

permissions:
  contents: read

jobs:
  test:
    needs:
      - default
    runs-on: ubuntu-slim
    steps:
      - id: check
        uses: elastic/oblt-actions/check-dependent-jobs@v1
        with:
          jobs: ${{ toJSON(needs) }}
      - run: ${{ steps.check.outputs.is-success }}

  default:
    runs-on: ubuntu-latest
    if: github.event_name != 'pull_request' || github.event_name == 'pull_request' && github.event.pull_request.head.repo.fork == false
    steps:
      - uses: actions/checkout@v5

      - name: Get token
        id: get_token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.OBS_AUTOMATION_APP_ID }}
          private-key: ${{ secrets.OBS_AUTOMATION_APP_PEM }}
          permission-organization-projects: write
          permission-issues: read

      - uses: ./github/project-add
        id: project-add
        with:
          github-token: ${{ steps.get_token.outputs.token }}
          github-org: elastic
          project-id: 1888
          item-url: "https://github.com/elastic/oblt-actions/pull/260"

      - name: assert item-id is not empty
        run: test -n "${{ steps.project-add.outputs.item-id }}"
