name: test-check-dependent-jobs

on:
  merge_group: ~
  workflow_dispatch: ~
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/test-check-dependent-jobs.yml'
      - 'check-dependent-jobs/**'
  push:
    branches:
      - main
    paths:
      - '.github/workflows/test-check-dependent-jobs.yml'
      - 'check-dependent-jobs/**'

permissions:
  contents: read

jobs:
  test:
    if: always()
    needs:
      - test-success
      - test-failure-and-success
      - test-failures
      - test-skipped-default
      - test-skipped-opt-in
    runs-on: ubuntu-slim
    steps:
      - id: check
        uses: elastic/oblt-actions/check-dependent-jobs@v1
        with:
          jobs: ${{ toJSON(needs) }}
      - run: ${{ steps.check.outputs.is-success }}

  test-success:
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@v5
      - uses: ./check-dependent-jobs
        id: check
        with:
          jobs: '{ "job-a": { "result": "success" }, "job-b": { "result": "success" } }'
      - name: assert outputs.is-success==true
        run: test "${{ steps.check.outputs.is-success }}" = "true"

  test-failure-and-success:
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@v5
      - uses: ./check-dependent-jobs
        id: check-2
        with:
          jobs: '{ "job-a": { "result": "success" }, "job-b": { "result": "failure" } }'
      - name: assert outputs.is-success==false
        run: test "${{ steps.check-2.outputs.is-success }}" = "false"

  test-failures:
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@v5
      - uses: ./check-dependent-jobs
        id: check-3
        with:
          jobs: '{ "job-a": { "result": "failure" }, "job-b": { "result": "failure" } }'
      - name: assert outputs.is-success==false
        run: test "${{ steps.check-3.outputs.is-success }}" = "false"

  test-skipped-default:
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@v5
      - uses: ./check-dependent-jobs
        id: check-4
        with:
          jobs: '{ "job-a": { "result": "success" }, "job-b": { "result": "skipped" } }'
      - name: assert outputs.is-success==false
        run: test "${{ steps.check-4.outputs.is-success }}" = "false"

  test-skipped-opt-in:
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@v5
      - uses: ./check-dependent-jobs
        id: check-5
        with:
          jobs: '{ "job-a": { "result": "success" }, "job-b": { "result": "skipped" } }'
          skipped-as-success: 'true'
      - name: assert outputs.is-success==true
        run: test "${{ steps.check-5.outputs.is-success }}" = "true"
