name: test-github-create-tokken

on:
  merge_group: ~
  workflow_dispatch: ~
  push:
    branches:
      - main
    paths:
      - '.github/workflows/test-github-create-token.yml'
      - 'github/create-token/**'
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/test-github-create-token.yml'
      - 'github/create-token/**'

permissions:
  contents: read
  id-token: write

jobs:
  test:
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@v6
      - uses: ./github/create-token
