name: test-elastic-github-commands

on:
  merge_group: ~
  workflow_dispatch: ~
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/test-elastic-github-commands.yml'
      - 'elastic/github-commands/**'
  push:
    branches:
      - main
    paths:
      - '.github/workflows/test-elastic-github-commands.yml'
      - 'elastic/github-commands/**'

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-slim
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v5

      - uses: ./elastic/github-commands
