name: test-oblt-cli-run

on:
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/test-oblt-cli-run.yml'
      - 'oblt-cli/run/**'
  push:
    branches:
      - main
    paths:
      - '.github/workflows/test-oblt-cli-run.yml'
      - 'oblt-cli/run/**'

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./oblt-cli/run
        with:
          github-token: ${{ secrets.OBLT_CLI_GITHUB_TOKEN }}
          command: cluster create serverless --target qa --cluster-name-prefix testgithubaction --gitops --dry-run
