name: test-check-dependent-jobs

on:
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/test-check-dependent-jobs.yml'
      - 'check-dependent-jobs/**'
  push:
    branches:
      - main
    paths:
      - '.github/workflows/test-check-dependent-jobs.yml'
      - 'check-dependent-jobs/**'

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./check-dependent-jobs
        id: check
        with:
          jobs: '{ "job-a": { "result": "success" }, "job-b": { "result": "success" } }'
      - name: assert outputs.is-success==true
        run: test "${{ steps.check.outputs.is-success }}" = "true"
      - uses: ./check-dependent-jobs
        id: check-2
        with:
          jobs: '{ "job-a": { "result": "success" }, "job-b": { "result": "failure" } }'
      - name: assert outputs.is-success==false
        run: test "${{ steps.check-2.outputs.is-success }}" = "false"
      - uses: ./check-dependent-jobs
        id: check-3
        with:
          jobs: '{ "job-a": { "result": "failure" }, "job-b": { "result": "failure" } }'
      - name: assert outputs.is-success==true
        run: test "${{ steps.check-3.outputs.is-success }}" = "false"
