name: test-oblt-cli-cluster-create-custom

on:
  merge_group: ~
  workflow_dispatch:
    inputs:
      dry-run:
        description: 'Dry run'
        required: true
        default: false
        type: boolean
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/test-oblt-cli-cluster-create-custom.yml'
      - 'oblt-cli/cluster-create-custom/**'

permissions:
  contents: read

jobs:
  test:
    if: always()
    needs:
      - no-gitops
      - gitops
      - multiline
    runs-on: ubuntu-slim
    steps:
      - id: check
        uses: elastic/oblt-actions/check-dependent-jobs@v1
        with:
          jobs: ${{ toJSON(needs) }}
      - run: ${{ steps.check.outputs.is-success }}

  no-gitops:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: elastic/oblt-actions/git/setup@v1
      - name: Get token
        id: get_token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.OBS_AUTOMATION_APP_ID }}
          private-key: ${{ secrets.OBS_AUTOMATION_APP_PEM }}
          permission-contents: write
          repositories: |
            observability-test-environments
      - uses: ./oblt-cli/cluster-create-custom
        with:
          github-token: ${{ steps.get_token.outputs.token }}
          template: 'deploy-kibana'
          cluster-name-prefix: 'testgithubaction'
          gitops: false
          dry-run: ${{ github.event.inputs.dry-run != '' && github.event.inputs.dry-run || true }}
          parameters: '{"RemoteClusterName":"release-oblt","StackVersion":"8.7.0","KibanaDockerImage":"docker.elastic.co/observability-ci/kibana-cloud:8.7.0-SNAPSHOT"}'

  gitops:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: elastic/oblt-actions/git/setup@v1
      - name: Get token
        id: get_token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.OBS_AUTOMATION_APP_ID }}
          private-key: ${{ secrets.OBS_AUTOMATION_APP_PEM }}
          permission-contents: write
          repositories: |
            observability-test-environments
      - uses: ./oblt-cli/cluster-create-custom
        with:
          github-token: ${{ steps.get_token.outputs.token }}
          template: 'deploy-kibana'
          cluster-name-prefix: 'testgithubaction'
          gitops: true
          dry-run: ${{ github.event.inputs.dry-run != '' && github.event.inputs.dry-run || true }}
          parameters: '{"RemoteClusterName":"release-oblt","StackVersion":"8.7.0","KibanaDockerImage":"docker.elastic.co/observability-ci/kibana-cloud:8.7.0-SNAPSHOT"}'

  multiline:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: elastic/oblt-actions/git/setup@v1
      - name: Get token
        id: get_token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.OBS_AUTOMATION_APP_ID }}
          private-key: ${{ secrets.OBS_AUTOMATION_APP_PEM }}
          permission-contents: write
          repositories: |
            observability-test-environments
      - uses: ./oblt-cli/cluster-create-custom
        with:
          github-token: ${{ steps.get_token.outputs.token }}
          template: 'deploy-kibana'
          cluster-name-prefix: 'testgithubaction'
          gitops: true
          dry-run: ${{ github.event.inputs.dry-run != '' && github.event.inputs.dry-run || true }}
          parameters: |
            {
              "RemoteClusterName": "release-oblt",
              "StackVersion": "8.7.0",
              "KibanaDockerImage": "docker.elastic.co/observability-ci/kibana-cloud:8.7.0-SNAPSHOT"
            }
