name: test-oblt-cli-cluster-create-ccs

on:
  merge_group: ~
  workflow_dispatch:
    inputs:
      dry-run:
        description: 'Dry run'
        required: true
        default: false
        type: boolean
  push:
    paths:
      - '.github/workflows/test-oblt-cli-cluster-create-ccs.yml'
      - 'oblt-cli/cluster-create-ccs/**'

permissions:
  contents: read

jobs:

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: elastic/oblt-actions/git/setup@v1
      - name: Get token
        id: get_token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2.1.0
        with:
          app_id: ${{ secrets.OBS_AUTOMATION_APP_ID }}
          private_key: ${{ secrets.OBS_AUTOMATION_APP_PEM }}
          permissions: >-
            {
              "contents": "write"
            }
          repositories: >-
            ["observability-test-environments"]
      - uses: ./oblt-cli/cluster-create-ccs
        with:
          github-token: ${{ steps.get_token.outputs.token }}
          remote-cluster: 'release-oblt'
          cluster-name-prefix: 'testgithubaction'
          gitops: true
          dry-run: ${{ github.event.inputs.dry-run != '' && github.event.inputs.dry-run || true }}
