name: test-github-user-type
on:
  merge_group: ~
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/test-github-user-type.yml'
      - 'github/user-type/**'
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/test-github-user-type.yml'
      - 'github/user-type/**'
permissions:
  contents: read
jobs:
  test:
    if: always()
    needs:
      - is-bot
      - is-not-bot
    runs-on: ubuntu-slim
    steps:
      - id: check
        uses: elastic/oblt-actions/check-dependent-jobs@v1
        with:
          jobs: ${{ toJSON(needs) }}
      - run: ${{ steps.check.outputs.is-success }}
  is-bot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: elastic/oblt-actions/git/setup@v1
      - name: Get token
        id: get_token
        uses: elastic/oblt-actions/github/create-token@v1
        with:
          token-policy: token-policy-oblt-actions-test-github-user-type
      - uses: ./github/user-type
        id: validation
        with:
          github-token: ${{ steps.get_token.outputs.token }}
          github-user: "dependabot[bot]"
      - name: Assert is bot
        run: test "${{steps.validation.outputs.result}}" = "bot"
  copilot-is-bot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: elastic/oblt-actions/git/setup@v1
      - name: Get token
        id: get_token
        uses: elastic/oblt-actions/github/create-token@v1
        with:
          token-policy: token-policy-oblt-actions-test-github-user-type
      - uses: ./github/user-type
        id: validation
        with:
          github-token: ${{ steps.get_token.outputs.token }}
          github-user: "Copilot"
      - name: Assert is bot
        run: test "${{steps.validation.outputs.result}}" = "bot"
  is-not-bot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: elastic/oblt-actions/git/setup@v1
      - name: Get token
        id: get_token
        uses: elastic/oblt-actions/github/create-token@v1
        with:
          token-policy: token-policy-oblt-actions-test-github-user-type
      - uses: ./github/user-type
        id: validation
        with:
          github-token: ${{ steps.get_token.outputs.token }}
          github-user: "octocat"
      - name: Assert is not bot
        run: test "${{steps.validation.outputs.result}}" = "user"
