name: test-oblt-cli-run
on:
  merge_group: ~
  workflow_dispatch: ~
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/test-oblt-cli-run.yml'
      - 'oblt-cli/run/**'
permissions:
  contents: read
jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - name: Get token
        id: get_token
        uses: elastic/oblt-actions/github/create-token@v1
        with:
          token-policy: token-policy-oblt-actions-test-oblt-cli-run
      - uses: ./oblt-cli/run
        with:
          github-token: ${{ steps.get_token.outputs.token }}
          command: cluster --help
