name: test-mergify-labels-copier

on:
  merge_group: ~
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/test-mergify-labels-copier.yml'
      - 'mergify/labels-copier/**'
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/test-mergify-labels-copier.yml'
      - 'mergify/labels-copier/**'

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Get token
        id: get_token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.OBS_AUTOMATION_APP_ID }}
          private-key: ${{ secrets.OBS_AUTOMATION_APP_PEM }}
          permission-pull-requests: read
      - uses: ./mergify/labels-copier
        id: validation
        with:
          github-token: ${{ steps.get_token.outputs.token }}
          repository: "elastic/apm-server"
          pull-request: "15035"
          excluded-labels-regex: "^backport-*"
        env:
          DRY_RUN: true

      - name: assert labels are not empty
        run: test -n "${{ steps.validation.outputs.labels }}"
