name: test-oblt-cli-setup

on:
  workflow_dispatch: ~
  push:
    paths:
      - '.github/workflows/test-oblt-cli-setup.yml'
      - 'oblt-cli/setup/**'

permissions:
  contents: read

jobs:
  test:
    needs:
      - version
      - version-file
      - default-version
      - tools-versions
      - non-existing-file
      - both-version-and-version-file
    runs-on: ubuntu-latest
    steps:
      - id: check
        uses: elastic/oblt-actions/check-dependent-jobs@v1
        with:
          jobs: ${{ toJSON(needs) }}
      - run: ${{ steps.check.outputs.is-success }}

  version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./oblt-cli/setup
        with:
          version: 7.2.2
          github-token: ${{ secrets.OBLT_CLI_GITHUB_TOKEN }}
      - name: Verify oblt-cli version
        run: |
          version=$(oblt-cli version 2>&1)
          [[ "$version" == *"version 7.2.2"* ]]

  version-file:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup version file
        run: |
          echo "7.2.5" > .oblt-cli-version
      - uses: ./oblt-cli/setup
        with:
          github-token: ${{ secrets.OBLT_CLI_GITHUB_TOKEN }}
          version-file: .oblt-cli-version
      - name: Verify oblt-cli version
        run: |
          version=$(oblt-cli version 2>&1)
          [[ "$version" == *"version 7.2.5"* ]]

  default-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: elastic/oblt-actions/git/setup@v1
      - uses: ./oblt-cli/setup
        with:
          github-token: ${{ secrets.OBLT_CLI_GITHUB_TOKEN }}
      - name: Verify oblt-cli version
        run: |
          version="$(oblt-cli version 2>&1)"
          echo "$version"
          default_version="$(cat ./oblt-cli/setup/.default-oblt-cli-version)"
          [[ "$version" == *"version ${default_version}"* ]]

  tools-versions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup version file
        run: |
          cat <<EOF > .tool-versions
          oblt-cli 7.2.5 # This is a comment that contains oblt-cli
          # This is another comment that contains oblt-cli
          ruby 2.5.3
          nodejs 10.15.0
          EOF
      - uses: ./oblt-cli/setup
        with:
          github-token: ${{ secrets.OBLT_CLI_GITHUB_TOKEN }}
          version-file: .tool-versions
      - name: Verify oblt-cli version
        run: |
          version=$(oblt-cli version 2>&1)
          [[ "$version" == *"version 7.2.5"* ]]

  non-existing-file:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./oblt-cli/setup
        id: oblt-cli-setup
        continue-on-error: true
        with:
          github-token: ${{ secrets.OBLT_CLI_GITHUB_TOKEN }}
          version-file: non-existing-file
      - name: Verify step failed
        if: steps.oblt-cli-setup.outcome != 'failure'
        run: exit 1

  both-version-and-version-file:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./oblt-cli/setup
        id: oblt-cli-setup
        with:
          github-token: ${{ secrets.OBLT_CLI_GITHUB_TOKEN }}
          version: 7.3.0
          version-file: non-existing-file
      - name: Verify oblt-cli version
        run: |
          version=$(oblt-cli version 2>&1)
          [[ "$version" == *"version 7.3.0"* ]]
