name: test-buildkite-run

on:
  merge_group: ~
  workflow_dispatch: ~
  push:
    paths:
      - '.github/workflows/test-buildkite-run.yml'
      - 'buildkite/run/**'

permissions:
  contents: read

jobs:
  test:
    if: always()
    needs:
      - test-no-wait-for
      - test-wait-for
    runs-on: ubuntu-latest
    steps:
      - id: check
        uses: elastic/oblt-actions/check-dependent-jobs@v1
        with:
          jobs: ${{ toJSON(needs) }}
      - run: ${{ steps.check.outputs.is-success }}

  test-no-wait-for:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./buildkite/run
        with:
          pipeline: 'oblt-hello-world'
          token: ${{ secrets.BUILDKITE_TOKEN }}
          wait-for: false

  test-wait-for:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - id: buildkite
        uses: ./buildkite/run
        with:
          pipeline: 'oblt-hello-world'
          token: ${{ secrets.BUILDKITE_TOKEN }}
          wait-for: true

      - name: Assert is oblt-hello-world
        run: test "${{ steps.buildkite.outputs.pipeline }}" = "oblt-hello-world"
