name: test-deploy-my-kibana

on:
  merge_group: ~
  workflow_dispatch: ~
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/test-deploy-my-kibana.yml'
      - 'oblt-cli/deploy-my-kibana/**'
  push:
    branches:
      - main
    paths:
      - '.github/workflows/test-deploy-my-kibana.yml'
      - 'oblt-cli/deploy-my-kibana/**'

permissions:
  contents: read
  pull-requests: write

jobs:
  deploy-my-kibana:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: ./oblt-cli/deploy-my-kibana
        with:
          github-app-id: ${{ secrets.OBS_AUTOMATION_APP_ID }}
          github-app-private-key: ${{ secrets.OBS_AUTOMATION_APP_PEM }}
          comment-url: https://github.com/elastic/oblt-actions/pull/59#issuecomment-2213186823
          comment-id: 2213186823
          issue-url: https://api.github.com/repos/elastic/oblt-actions/issues/59
          repository: 'elastic/oblt-actions'

  no-parameters:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./oblt-cli/deploy-my-kibana
        id: validation
        continue-on-error: true
      - name: Assert is failure if no parameters
        run: test "${{steps.validation.outcome}}" = "failure"

  all-parameters:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./oblt-cli/deploy-my-kibana
        id: validation
        continue-on-error: true
        with:
          github-app-id: "app"
          github-app-private-key: "key"
          github-token: "foo"
      - name: Assert is failure if all parameters
        run: test "${{steps.validation.outcome}}" = "failure"

  test:
    if: always()
    needs:
      - deploy-my-kibana
      - no-parameters
      - all-parameters
    runs-on: ubuntu-latest
    steps:
      - id: check
        uses: elastic/oblt-actions/check-dependent-jobs@v1
        with:
          jobs: ${{ toJSON(needs) }}
      - run: ${{ steps.check.outputs.is-success }}
